body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // height: 100;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.auth {
  margin-top: 15%;
  form {
    width: 50%;
    margin-left: 25%;
    a {
      float: right;
    }
  }

  &-links {
    display: flex;
    justify-content: space-between;
  }

}

.info {
  float: right;
}


.time {
  color: #4DB559;
  svg {
    align-items: center;
    text-align: center;
    margin-left: 11px;
    margin-top: 13px;
  }
}

.day-slider {
  border: 2px solid gray;
  margin-left: 8px;
  width: 26px;
  height: 31px;
  cursor: pointer;

  hr {
    border-color: #4DB559;
    border-width: 1px;
    transform: rotate(122deg);
    font-size: 25px;
  }

  &-active{
    border-color: #4DB559;
  }
}


.verifyEmail {
  background-color: #e4f3fa;
  
  width: 600px;
  height: 150px;
  margin: 50px auto 0px;
  padding: 15px;
  border-radius: 10px;
  &-header {
    color: #5fb0da;
    margin: 10px 0;
  }
}

.forgotPassword {
  border: 1px solid rgba(128, 128, 128, 0.336);
  width: 450px;
  height: 300px;
  margin: 30px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;

  h2 {
    margin: 10px 0px;
  }

  .text {
    margin: 5px 0 20px;
  }

  form {
    input:first-child {
      display: flex;
      border: 1px solid lightblue;
      padding: 0 5px;
      font-size: 18px;
      height: 35px;
      width: 420px;
    }

    input:last-child {
      border: none;
      background-color: #1e9fe0;
      cursor: pointer;
      padding: 10px 5px;
      color: #ffff;
      height: 35px;
      width: 150px;
      font-weight: 900;

      margin: 10px 0;

      &:hover {
        background-color: #089be4;
      }
    }
  }
}
